{% extends "sec/base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg text-center">
            <h2 class="mt-5">Welcome {{ user.username }}!
                <img class="ml-1 honey" src="{% static 'home/img/honeybee.png' %}" alt="Image of a honeybee."/>
            </h2>
            <p class="mt-5">What would you like to do today?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg text-center">
            <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
                <ul class="pagination">
                    <li class="page-item"><a class="list-group-item list-group-item-action active" id="own-project"
                                             data-toggle="list" role="tab" aria-controls="own" href="#own">
                        My Projects
                    </a></li>
                    <li class="page-item"><a class="page-item list-group-item list-group-item-action"
                                             id="costumer-project" data-toggle="list" role="tab"
                                             aria-controls="costumer" href="#costumer">Costumer Projects</a></li>
                    <li class="page-item"><a class="page-item  list-group-item list-group-item-action"
                                             id="finished-project" data-toggle="list" role="tab"
                                             aria-controls="finished" href="#finished">Finished Projects</a></li>
                </ul>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <!-- Own projects -->
                <div class="tab-pane fade show active" id="own" role="tabpanel" aria-labelledby="own-project">
                    <h3 class="mb-3 mt-5">Your Open Requests</h3>
                    <div class="list-group" id="open-projects">
                        {% for project in open_user_projects %}
                            <a href="{% url 'project_view' project_id=project.id %}"
                               class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5 class="mb-1">{% icon 'unlock-alt' %} {{ project.title }}</h5>
                                    {% if project|number_of_pending_offers %}
                                        <span class="badge badge-warning badge-pill">{{ project|number_of_pending_offers }}</span>
                                    {% endif %}
                                </div>
                                <div class="d-flex">
                                    <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                         alt="Generic placeholder image."/>

                                    <span class="mb-1 ml-5">
                                            {% for task in project.tasks.all %}
                                                {{ task.title }} - {{ task|offers }}
                                            {% endfor %}
                                        </span>
                                </div>
                            </a>
                        {% empty %}
                            <p class="mb-5">You don't have any open requests</p>
                        {% endfor %}
                    </div>

                    <h3 class="mb-3 mt-5">Projects in Progress</h3>
                    <div class="list-group" id="closed-projects">
                        {% for project in in_progress_user_projects %}
                            <a href="{% url 'project_view' project_id=project.id %}"
                               class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5 class="mb-1">{% icon 'lock' %} {{ project.title }}</h5>

                                    {% define project|get_task_statuses as task_statuses %}

                                    <div>
                                        {% if task_statuses.pending_acceptance %}
                                            <span class="badge badge-secondary badge-pill">{{ task_statuses.pending_acceptance }} </span>
                                        {% endif %}
                                        {% if task_statuses.pending_payment %}
                                            <span class="badge badge-warning badge-pill">{{ task_statuses.pending_payment }}</span>
                                        {% endif %}
                                        {% if task_statuses.payment_sent %}
                                            <span class="badge badge-success badge-pill">{{ task_statuses.payment_sent }}</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="d-flex text-left">
                                    <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                         alt="Generic placeholder image."/>
                                    <ul class="mb-1 ml-5 offerer-taskoffer-status">
                                        {% for task in project.tasks.all %}
                                            {{ task.title }} - {{ task|task_status }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </a>
                        {% empty %}
                            <p class="mb-5">You don't have any projects in progress</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Costumer projects -->
                <div class="tab-pane fade" id="costumer" role="tabpanel" aria-labelledby="costumer-project">
                    <h3 class="mb-3 mt-5">Costumer Projects</h3>
                    <div class="list-group" id="closed-projects">
                        {% define "You don't have any costumer projects in progress" as project_container_status %}
                        {% for project in customer_projects %}
                            {% if project.status == project.INPROG %}
                                {% define "" as project_container_status %}
                                <a href="{% url 'project_view' project_id=project.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <h5 class="mb-1">{% icon 'comments' %} {{ project.title }}</h5>

                                        {% define project|get_user_task_statuses:user as user_task_statuses %}

                                        <div>
                                            {% if user_task_statuses.pending_acceptance %}
                                                <span class="badge badge-secondary badge-pill">{{ user_task_statuses.pending_acceptance }} </span>
                                            {% endif %}
                                            {% if user_task_statuses.pending_payment %}
                                                <span class="badge badge-warning badge-pill">{{ user_task_statuses.pending_payment }}</span>
                                            {% endif %}
                                            {% if user_task_statuses.payment_sent %}
                                                <span class="badge badge-success badge-pill">{{ user_task_statuses.payment_sent }}</span>
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="d-flex text-left">
                                        <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                             alt="Generic placeholder image."/>
                                        <ul class="mb-1 ml-5 offerer-taskoffer-status">
                                            {% if user_task_statuses.awaiting_delivery %}
                                                <li>Waiting for your delivery</li>
                                            {% endif %}

                                            {% if user_task_statuses.pending_acceptance == 1 %}
                                                <li>You have one delivery waiting for acceptance</li>
                                            {% elif user_task_statuses.pending_acceptance %}
                                                <li>You have deliveries waiting for acceptance</li>
                                            {% endif %}

                                            {% if user_task_statuses.pending_payment == 1 %}
                                                <li>You have one delivery waiting for payment</li>
                                            {% elif user_task_statuses.pending_payment %}
                                                <li>You have deliveries waiting for payment</li>
                                            {% endif %}

                                            {% if user_task_statuses.payment_sent == 1 %}
                                                <li>You have received one payment</li>
                                            {% elif user_task_statuses.payment_sent %}
                                                <li>You have received payments for deliveries</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </a>
                            {% else %}
                                {% if forloop.last %} <p class="mb-5">{{ project_container_status }}</p> {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <h3 class="mb-3 mt-5">Your Offers</h3>
                    <div class="list-group" id="closed-projects">
                        {% define "You don't have any customer projects in progress" as project_container_status %}
                        {% for project in given_offers_projects %}
                            {% if project.status == project.OPEN %}
                                {% define "" as project_container_status %}
                                <a href="{% url 'project_view' project_id=project.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <h5 class="mb-1">{% icon 'comments' %} {{ project.title }}</h5>

                                        {% define project|check_nr_user_offers:user as offers %}
                                        <div>
                                            {% if offers.declined %}
                                                <span class="badge badge-danger badge-pill">{{ offers.declined }}</span>
                                            {% endif %}
                                            {% if offers.pending %}
                                                <span class="badge badge-warning badge-pill">{{ offers.pending }}</span>
                                            {% endif %}
                                            {% if offers.accepted %}
                                                <span class="badge badge-success badge-pill">{{ offers.accepted }}</span>
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="d-flex text-left">
                                        <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                             alt="Generic placeholder image."/>
                                        <ul class="mb-1 ml-5 offerer-taskoffer-status">
                                            {% if offers.declined == 1 %}
                                                <li>You have one declined offer</li>
                                            {% elif offers.declined %}
                                                <li>You have declined offers</li>
                                            {% endif %}

                                            {% if offers.pending == 1 %}
                                                <li>You have one pending offer</li>
                                            {% elif offers.pending %}
                                                <li>You have pending offers</li>
                                            {% endif %}

                                            {% if offers.accepted == 1 %}
                                                <li>You have one accepted offer</li>
                                            {% elif offers.accepted %}
                                                <li>You have accepted offers</li>
                                            {% endif %}
                                        </ul>
                                    </div>

                                </a>
                            {% else %}
                                {% if forloop.last %} <p class="mb-5">{{ project_container_status }}</p> {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

                <!-- Finished projects -->
                <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-project">
                    <h3 class="mb-3 mt-5">Finished Own Projects</h3>
                    <div class="list-group" id="finished-own-projects">
                        {% for project in finished_user_projects %}
                            <a href="{% url 'project_view' project_id=project.id %}"
                               class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5 class="mb-1">{% icon 'archive' %} {{ project.title }}</h5>
                                </div>
                                <div class="d-flex">
                                    <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                         alt="Generic placeholder image."/>
                                    <p class="mb-1 ml-5">Project is completed</p>
                                </div>
                            </a>
                        {% empty %}
                            <p class="mb-5">You don't have any finished own projects</p>
                        {% endfor %}
                    </div>

                    <!-- Finished costumer projects -->
                    <h3 class="mb-3 mt-5">Finished Costumer Projects</h3>
                    <div class="list-group" id="finished-costumer-projects">
                        {% define "You don't have any finished customer projects" as project_container_status %}
                        {% for project in customer_projects %}
                            {% if project.status == project.FINISHED %}
                                {% define "" as project_container_status %}
                                <a href="{% url 'project_view' project_id=project.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start my-1">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <h5 class="mb-1">{% icon 'archive' %} {{ project.title }}</h5>
                                    </div>
                                    <div class="d-flex">
                                        <img class="mt-1 project-image" src="{% static 'projects/img/idea.jpg' %}"
                                             alt="Generic placeholder image."/>
                                        <p class="mb-1 ml-5">Project is completed</p>
                                    </div>
                                </a>
                            {% else %}
                                {% if forloop.last %} <p class="mb-5">{{ project_container_status }}</p> {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'home/js/tab_change.js' %}"></script>

{% endblock %}
