
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Rubik');

@font-face {
    font-family: RoundyRainbows;
    src: url(../fonts/RoundyRainbows.otf);
}
@font-face {
	font-family: Harabara;
	src: url(../fonts/Harabara.ttf);
}
@font-face {
	font-family: IntroRust;
	src: url(../fonts/IntroRust.otf);
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.fullwidth {
	width: 100%;
}
.fullheight {
	height: 100%;
}
.color-dark {
	color: #2d3052;
}
nav {
	position: fixed;
	width: 100%;
	background-color: #4b4fa1;
	z-index: 1000;
	display: flex;
	font-size: 12px;
	transition: all .5s ease-in-out;

}
nav div {
	flex: 1 1 100%;
}
nav ul{
	display: flex;
	padding: 0;
	margin: 0;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
nav ul li , ul li {
	display: block;
	text-align: center;
	list-style-type: none;
}
nav ul li a {
	color: rgba(255, 255, 255, 0.4);
	display: block;
	padding: 1rem 20px;
	transition: all .25s ease-in-out;
}
nav ul li a:hover {
	color: white;
}

.flex-container {
	display: flex;
	flex-direction: column;
}
.flex-container-row {
    display: flex;
    flex-direction: row-reverse;
}
.top-content {
	display: flex;
	width: 100%;
	background-color: #4b4fa1;
	height: 100vh;
	color: white;
	font-family: IntroRust, sans-serif;
}
.top-content h1 {
	/*line-height: 20px;*/
}
.top-content a {
	color: white;
}
.top-content div {
	flex: 1 1 100%;
}
.top-right-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-left: 35px;
}
.top-left-content {
	position: relative;
}
.top-left-content img {
	position: absolute;
	left: 20%;
	width: 50px;
}
/*Animated circles*/
.circle {
	position: absolute;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
}
.c1 {
	left: 20%;
	top: 35%;
	width: 20%;
	height: 20%;
}
.c2 {
	left: 45%;
	top: 30%;
	width: 10%;
	height: 10%;
}
.c3 {
	left: 50%;
	top: 40%;
	width: 35%;
	height: 35%;
}

.page-content {
	text-align: center;
	font-family: IntroRust, sans-serif;
	font-size: 30px;
	color: grey;
	padding-top: 50px;
}
.page-content h1 {
	/*line-height: 20px;*/
}
.page-content-flex {
	display: flex;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
}
.page-content-flex > div {
	flex: 1 1 100%;
}
.page-right-content {
	text-align: left;
	font-size: 30px;
}
.page-left-content img {
	width: 250px;
}
.info-presentation {
	position: relative;
	text-align: left;
	width: 60%;
	margin: 0 auto;
	font-size: 22px;
}
.info-presentation .icon {
	width: 30px;
	position: absolute;
	left: -55px;
	top: 0;
}
.info-presentation h3 {
	color: #2d3052;
	font-size: 26px;
}
/*footer styling*/
footer {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 0;
	background-color: #4b4fa1;
	color: rgba(255,255,255,0.5);
}
footer .containers {
	width: 30%;
	display: flex;
	justify-content: center;
}
footer ul {
	padding: 0;
}
footer li {
	list-style-type: none;
}
footer a {
	color: rgba(255,255,255,0.5);
}
.inline-centered {
	display: inline-block;
	position: relative;
}
.inline-centered img {
	position: absolute;
	width: 20px;
	left: -30px;
	top: 25px;
}
/*buttons*/
.btn {
	display: block;
	padding: 15px 0;
	border-radius: 30px;
	color: white;
	width: 300px;
	text-align: center;
}
.btn-pink {
	background-color: #ff72b2;
	-webkit-box-shadow: 0 0 100px 7px rgba(255,114,178,0.3);
	box-shadow: 0 0 100px 7px rgba(255,114,178,0.3);
	transition: all .25s ease-in-out;
}
.btn-green {
	background-color: #47B541;
	-webkit-box-shadow: 0 0 100px 7px rgba(71,181,65,0.3);
	box-shadow: 0 0 100px 7px rgba(71,181,65,0.3);
	transition: all .25s ease-in-out;
	width: 150px;
}
.btn-pink:hover {
	background-color: black;
}

/*hr styling*/
.hrshort {
	width: 100px;
	border-bottom: 5px solid #47B541;
	margin: 0 auto;
}

/*Media queries */
@media screen and (max-width: 768px) {
	.page-content-flex > div {
		flex: 1 1 auto;
	}
	.page-content-flex {
		flex-direction: column;
	}
	footer {
		flex-direction: column;
	}
	footer .containers {
		width: 80%;
		margin: auto;
		justify-content: left;
	}
}

@media screen and (max-width: 480px) {
	.top-left-content {
		display: none;
	}
	.page-content > h1 {
		font-size: 40px;
	}
	nav {
		position: relative;
		background-color: #393c80;
		flex-direction: column;
	}
	nav ul {
		flex-direction: column;
		text-align: center;
	}
	nav div {
		flex: 1 1 auto;
	}
}